/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: #fff;
  background-color: #050505;
}

a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 100px 0;
}

.container {
  max-width: 1280px;
  padding: 0 2%;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
}

/* ScrollBar  */

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: rgba(231, 231, 231, 0.1);
}

body::-webkit-scrollbar-thumb {
  background-color: #18d26e;
}

/* Extra */

button .cta {
  color: #fff;
  margin-top: 2rem;
  padding: 15px 25px;
  background-color: #18d26e;
  border-radius: 20px;
  border: none;
  transition: 300ms;
  cursor: pointer;
  box-shadow: 0 0 0.5em #18d26e;
}

button .cta:hover {
  transform: scale(1.1);
}

button .cta a {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

/* Header */

header {
  width: 100%;
  height: 100vh;

  padding-top: 35px;
  margin: 0 auto;
  position: relative;

  background-image: url('../images/header-background.png');
  background-size: cover;
  background-position: center;
}

header .header-title h3 {
  color: #fff;
}

header .header-title h3 span {
  color: #18d26e;
}

.header-title h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.section-title h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.section-title h3 span {
  color: #18d26e;
}
.section-title p {
  margin: 15px 0;
  font-size: 18px;
}

.section-title p span {
  color: #18d26e;
}

header iframe {
  display: block;
  margin: 2rem auto 0;
}

header button {
  color: #fff;
  margin-top: 2rem;
  padding: 15px 25px;
  background-color: #18d26e;
  border-radius: 20px;
  border: none;
  transition: 300ms;
  cursor: pointer;
  box-shadow: 0 0 0.5em #18d26e;
}

header button:hover {
  transform: scale(1.1);
}

header button a {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

/* Main */

main section {
  width: 50%;
  margin: 0 auto;
}

/* Content */

.content {
  width: 100%;
  height: 100vh;
  position: relative;
}

.pai {
  margin: 20px 0;
  display: flex;
}

.content-items {
  width: 50%;
  display: flex;
}

.content-item {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.content-item i {
  margin: 0 15px;
  font-size: 28px;
  color: #18d26e;
}

.content-item p {
  font-size: 18px;
}

.and-more p {
  margin: 1rem 0;
  font-size: 18px;
}

.and-more h3 span {
  color: #18d26e;
}

.and-more p span {
  color: #18d26e;
}

/* Teacher */

.teacher {
  width: 100%;
  height: 100%;
  position: relative;
}

.teacher-item {
  padding: 50px 0;
  width: 50%;
  margin: 0 auto;
}

.teacher-item img {
  margin: 15px 0;
}

/* Footer */

footer {
  margin: 0 auto;
  width: 100%;
  padding: 50px 0;
}

/* Responsivo */

@media screen and (max-width: 768px) {
  header iframe {
    width: 100%;
  }

  .content-item {
    display: block;
    text-align: center;
  }

  .pai {
    display: block;
    margin: 0 auto;
  }

  .content-items {
    display: block;
    width: 100%;
  }
}
